//-------
//PATRONES DE COLROES
$principal: #00ad75;
$Secundario: #35363c;
$texto: #696969;
/*--------------*/
/*1. TIPOGRAFIA DEL SITIO*/
/*--------------*/
html {
  font-size: 13px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: $texto;
}
/*--------------*/
/*2. ESTILOS GENERALES DE BOTONES*/
/*--------------*/
.btn {
  border-radius: 2rem;
  padding: 0.6rem 2rem;
  font-weight: bold !important;
}

/*--------------*/
/*3. ESTILOS COLOR PRINCIPAL*/
/*--------------*/
.bg-primary {
  background-color: $principal !important;
}
.text-prymary {
  color: $principal !important;
}
.btn-primary {
  background-color: $principal;
  border-color: $principal;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:hover {
    color: $Secundario !important;
    background-color: rgb(255, 255, 255);
    border-color: $principal;
  }
  &:active {
    color: $Secundario !important;
    background-color: lighten($principal, 5%) !important;
    border-color: $principal !important;
  }
  &:focus {
    color: $Secundario !important;
    box-shadow: 0 0 0 0.2rem rgba($principal, 0.5%) !important;
  }
}
/*--------------*/
/*4. ESTILOS COLOR SECUNDARIO*/
/*--------------*/
.bg-secondary {
  background-color: $Secundario !important;
}
.text-secondary {
  color: $Secundario !important;
}
/*--------------*/
/*4. ESTILOS A SESION .redes-sociales*/
/*--------------*/
.social li a i {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 1;
    transform: scale(1.3) rotate(360deg);
  }
}
.social .fa-facebook-f:hover {
  color: #0470e5 !important;
}
.social .fa-twitter:hover {
  color: #1da1f2 !important;
}
.social .fa-whatsapp:hover {
  color: #1bd741 !important;
}
.social .fa-instagram:hover {
  color: #bc3194 !important;
}
.social .fa-linkedin-in:hover {
  color: #0077b7 !important;
}
.social .fa-youtube:hover {
  color: #fa0002 !important;
}

/*--------------*/
/*5. ESTILOS A SESION MENU NAVEGACION*/
/*--------------*/
#menu-nav .navbar-toggler {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none !important;
}

#menu-nav .boton-menu:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c9";
  font-weight: 900;
  font-size: 2rem;
}
#menu-nav .icono-cerrar:before {
  content: "\f00d";
  position: relative;
}
//estilos del menu de navegacion
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  &:after {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
}
.navbar-dark .navbar-nav a:hover {
  background-color: lighten($Secundario, 10%); //no se aplican
}
.navbar-dark .navbar-nav a:hover:after {
  transform: rotateZ(90deg); //no se aplican
}
/*estilos para enlace activo*/
.navbar-dark .navbar-nav .nav-link.active {
  background-color: $principal; //si se aplican
}
.menu-fijo{
  transition: all 0.5s ease;
  background-color: darken($Secundario,10%) !important;
  width: 100% !important;
}
/*flecha del boton*/
.btn-primary:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f138";
  position: relative;
  left: 0.5rem;
  top: 0.1rem;
  transition: left 0.3s ease;
}

.btn-primary:hover:after,
.btn-primary:hover:active,
.btn-primary:focus:after {
  left: 0.1rem;
}
/*caja blanca del boton principal*/
.btn-primary:before {
  content: "";
  z-index: -1;
  width: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 0;
  transform: skew(45deg, 0);
  transition: all 0.5s ease;
}
.btn-primary:hover:before,
.btn-primary:active:before,
.btn-primary:focus:before {
  width: 130%;
  left: -20%;
}
/*estilos para animacion*/
.swiper-slide {
  height: 40rem;
  text-align: center;
  color: rgb(255, 255, 255);
  position: relative;
  background-size: cover;
  background-position: center center;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  background-image: none;
  background-color: rgb(0, 0, 0, 0.25);
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
/*estado hover de los botones*/
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: $principal;
  background-color: rgb(0, 0, 0, 0.5);
}
.swiper-button-prev::before,
.swiper-button-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
}
.swiper-button-next::before {
  transform: rotate(180deg);
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  margin: 0 0.6rem !important;
}
.swiper-pagination-bullet-active {
  background-color: $principal;
}
/*7: ESTILOS SESCION BENVENIDOS*/

.container-video a {
  background-color: rgb(255, 255, 255, 0.8);
  width: 7rem;
  height: 7rem;
  display: flex;
  color: $principal;
  border-radius: 50%;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  background-clip: padding-box;
  transition: all 0.5s ease;
  border: 0px solid transparent;
  &:hover {
    background-color: $principal;
    color: white;
    border: 10px solid rgba(255, 255, 255, 0.4);
  }
}
.container-video img {
  transition: all 0.5s ease;
}
.container-video:hover img {
  transform: scale(1.2);
}
/*ESTILOS SESION AYUDA*/
#help {
  position: relative;
  transform: skew(0, 3deg);
  &:before {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0, 0.3);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}

#help .container-fluid {
  transform: skew(0, -3deg);
}
/*SECCION 9 ESTILOS SECION PREMIOS*/
.contador-linea {
  background-color: $principal;
  width: 4rem;
  height: 0.5rem;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
}
#premios .col-6:hover .contador-linea {
  bottom: 1rem;
  transform: translateX(-50%) rotate(180deg);
  background-color: $Secundario;
}
/*estilos nuestra app*/
#app::before {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
/*estilos para contactanos*/
.triangulo {
  width: 2.5rem;
  height: 2.5rem;
  background-color: $principal;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%) rotate(45deg);
}

/*datapicker*/
//selector de fecha
.picker__box {
  border: 8px solid $principal;
}
.picker--focused .picker__day--highlighted,
.picker__day--highlighted:hover,
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  cursor: pointer;
  color: #fff;
  background: $principal;
}
.picker__day--today::before {
  border-top: 0.5em solid #fff;
}
//selector de hora
.picker--focused .picker__list-item--highlighted,
.picker__list-item--highlighted:hover,
.picker__list-item:hover {
  background: $principal;
}

.picker__list-item--highlighted,
.picker__list-item:hover {
  border-color: $principal;
  border-color: darken($principal, 10%);
}

.picker--time .picker__button--clear {
  background: #e20;
  border-color: #e20;
  color: white;
  border-radius: 5px;
}
.picker__button--clear::before {
  width: 0;
  display: none;
}
.picker__list {
  padding: 0.75em 0 0.75em 0;
}

#fecha,
#hora {
  cursor: pointer;
}
.s {
  padding-bottom: 2rem;
}
.s i {
  margin-bottom: -25px;
  cursor: pointer;
}

/*MEDIAS QUERY*/

/*FOOTER*/
.col-inclinada::after {
  content: "";
  position: absolute;
  background-color: $principal;
  top: 0;
  bottom: 0;
  left: -100%;
  right: -100%;
}
.zi {
  z-index: 1 !important;
}
.enlaces-secudarios a {
  padding: 1rem;
  color: white;
  text-decoration: none;
  display: block;
}
.enlaces-secudarios {
  border-bottom: 1px solid  #5d666f;
  box-shadow: 0 1px #212529 ;
}
/*aumentar el tamaño del slide*/
@media (min-width: 768px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
  }
  .navbar-dark .navbar-nav .nav-link:after {
    content: "";
  }
  .col-inclinada::after {
    right: 0;
    transform: skewX(25deg);
  }

}
@media (min-width: 900px) {
  html {
    font-size: 16px;
  }
  .swiper-slide {
    height: 37.5rem;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 14px;
  }
  .swiper-slide {
    height: 44rem;
  }
}
